.navbar-brand {
  color: white;
}

.navbar-nav .nav-item a {
  color: white;
}

.navbar {
  background-color: #d55749;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-item {
  list-style-type: none;
}

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/villagio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  
}

.hero-title {
  color:white;
  text-align: center;
  font-weight: bold;
  padding: 0;
}

.steps-header {
  padding-top: 40px;
}

.steps i {
  color: tomato;

}
.links-section {
  background-color: black;
}

.card {
  background-color: transparent;
}

.links-icon {
  position: relative;
  color: #70c8d4;
  border-radius: 50%;
}

.links-icon-border {
  position: absolute;
  top: 50%;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #dee2e6;
}

<<<<<<< HEAD
.footer-socials {
  justify-items: space;
}

=======
>>>>>>> 4a9d6df745f40498b23b4189855a67f1604f9376
footer {
  background-color: darkgrey;
}

.perks-section img {
<<<<<<< HEAD
  width:250px;
  height:250px;
=======
  width: 250px;
  height: 250px;
>>>>>>> 4a9d6df745f40498b23b4189855a67f1604f9376
  text-align: center;
}

@media screen and (max-width: 425px) {
  .nav-text {
      display: none;
  }
  .perks-text {
      order: 2;
      align-items: center;
  }
  .perks-img {
      order: 1;
  }
  .links-icon {
      position: relative;
  }

}

@media screen and (max-width: 1024px) {
  .nav-text {
      display: block;
  }
}

@media screen and (min-width: 1024px) {
  .nav-text {
      display: block;
  }
}
